stages:
  - test
  - test-opal

.fail_if_coredump_generated:
  after_script:
    - '[ "$(ls -A /var/coredumps)" ] && exit 1 || true'

include:
  - local: .gitlab/ci/debian.yml
  - local: .gitlab/ci/fedora.yml
  - local: .gitlab/ci/fedora-opal.yml
  - local: .gitlab/ci/centos.yml
  - local: .gitlab/ci/csmock.yml
  - local: .gitlab/ci/gitlab-shared-docker.yml
  - local: .gitlab/ci/compilation-various-disables.yml
  - local: .gitlab/ci/compilation-gcc.gitlab-ci.yml
  - local: .gitlab/ci/compilation-clang.gitlab-ci.yml
  - local: .gitlab/ci/compilation-spellcheck.yml
  - local: .gitlab/ci/alpinelinux.yml
  - local: .gitlab/ci/debian-i686.yml
  - local: .gitlab/ci/cifuzz.yml
