po/*gmo
*~
Makefile
Makefile.in
Makefile.in.in
*.lo
*.la
*.o
.deps/
.libs/
src/cryptsetup
src/veritysetup
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
install-sh
lib/libcryptsetup.pc
libtool
ltmain.sh
m4/
missing
po/Makevars.template
po/POTFILES
po/Rules-quot
po/*.pot
po/*.header
po/*.sed
po/*.sin
po/stamp-po
stamp-h1

