# Build and shortly run fuzzers in proper Docker environment
# Note that this cannot work with git forks, known CIFuzz limitation

name: CIFuzz
on:
  push:
    branches:
      - 'main'
    paths-ignore:
      - 'docs/**'

jobs:
  Fuzzing:
    runs-on: ubuntu-latest
    if: github.repository == 'mbroz/cryptsetup'
    steps:
    - name: Build Fuzzers
      id: build
      uses: google/oss-fuzz/infra/cifuzz/actions/build_fuzzers@master
      with:
        oss-fuzz-project-name: 'cryptsetup'
        dry-run: false
    - name: Run Fuzzers
      uses: google/oss-fuzz/infra/cifuzz/actions/run_fuzzers@master
      with:
        oss-fuzz-project-name: 'cryptsetup'
        fuzz-seconds: 60
        dry-run: false
    - name: Upload Crash
      uses: actions/upload-artifact@v4
      if: failure() && steps.build.outcome == 'success'
      with:
        name: artifacts
        path: ./out/artifacts
